// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/page.scss";
// Components 
@import "components/topbar.scss";
@import "components/navbar.scss";
//layout 
@import "layout/intro.scss";
@import "layout/contact.scss";
@import "layout/about.scss";