/** breakpoints**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

p {
  line-height: 1.75;
}

a * {
  color: #ff5821;
}
a *:hover {
  color: #ed3b00;
  text-decoration: none;
}

.background-primary {
  background-color: #ed3b00;
}

.text-primary {
  color: #ff5821 !important;
}

.text-white {
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.8) 40%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
#topbar .container {
  height: 5vh;
  width: 100%;
  padding: 2px;
}
#topbar .contact-info .icofont-phone {
  padding-left: 20px;
  margin-left: 10px;
}
#topbar .contact-info a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}
#topbar .contact-info a:hover {
  text-decoration: none;
  color: #ff5821;
}
#topbar .contact-info i {
  color: #ff5821;
  padding-right: 4px;
}
#topbar .social-links a {
  cursor: pointer;
  padding: 0 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}
#topbar .social-links a i {
  color: rgba(255, 255, 255, 0.8);
}
#topbar .social-links a:hover {
  text-decoration: none;
}
#topbar .social-links a:hover i {
  text-decoration: none;
  color: #ff5821;
}

#mainNav {
  background-color: #212529;
  top: 5vh;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #ff5821;
  font-family: "Raleway", sans-serif;
  outline: none;
}
#mainNav .navbar-brand {
  color: #ff5821;
  font-family: "Open Sans", sans-serif;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ed3b00;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 2em;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ff5821;
}

@media (min-width: 700px) {
  #mainNav {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.2em 1em !important;
    font-weight: 600;
    color: #212529;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 25px 0;
  }
}
/*======================================
//--//-->   INTRO
======================================*/
.intro {
  height: 88vh;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../assets/img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.intro .intro-text {
  padding-top: 12rem;
}
.intro .intro-text .intro-heading {
  font-size: 52px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
}
.intro .intro-text .intro-lead-in span {
  font-size: 28px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .intro .intro-text {
    padding-top: 8rem;
    padding-right: 24px;
    padding-left: 24px;
  }
  .intro .intro-text .intro-heading {
    font-size: 50px;
  }
  .intro .intro-text .intro-lead-in {
    font-size: 22px;
  }
}

/*# sourceMappingURL=folio.css.map */
