/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
    padding: 60px 0;
    padding-bottom: 30px;
    .container {
        box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    } 
    .video-box {
        img {
            padding: 80px 0 0;
        }
    }
    .section-title {
        p {
            text-align: left;
            font-style: italic;
            color: $gray-800;
        }
    }
    .about-content {
        padding: 40px;
    }
    .icon-box {
        & + .icon-box {
            margin-top: 40px;
        }
        .icon {
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 72px;
            height: 72px;
            background: #f1f7fb;
            // border-radius: 6px;
            border-radius: 50%;
            transition: 0.5s;
            i {
                color: $primary;
                font-size: 32px;
            }         
        }
        .description {
            margin-left: 95px;
            line-height: 24px;
            font-size: 14px;
        }
        &:hover .icon {
            background: $primary;
            i {
                color: #fff;
            }
        }
    }
    .video-box {
        position: relative;
        .play-btn {
            width: 94px;
            height: 94px;
            // @TODO chnage the regba to primary color  darken($primary, 10%)
            background: radial-gradient($primary 50%, rgba(255, 88, 33, 0.4) 52%);
            border-radius: 50%;
            display: block;
            position: absolute;
            left: calc(50% - 47px);
            top: calc(50% - 47px);
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-40%) translateY(-50%);
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #fff;
                z-index: 100;
                transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19); 
            }    
            &::before {
                content: '';
                position: absolute;
                width: 120px;
                height: 120px;
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
                -webkit-animation: pulsate-btn 2s;
                animation: pulsate-btn 2s;
                -webkit-animation-direction: forwards;
                animation-direction: forwards;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: steps;
                animation-timing-function: steps;
                opacity: 1;
                border-radius: 50%;
                // Chnage here too
                border: 5px solid rgba(255, 88, 33, 0.7);
                top: -15%;
                left: -15%;
                background: rgba(198, 16, 0, 0);
            }
            &:hover::after {
                border-left: 15px solid $primary;
                transform: scale(20);
            }   
            &:hover::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-40%) translateY(-50%);
                width: 0;
                height: 0;
                border: none;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #fff;
                z-index: 200;
                -webkit-animation: none;
                animation: none;
                border-radius: 0;
            }
        }         
    }    
}

@include keyframes(pulsate-btn) {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
