


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
#virtualization{
    .section-headline{
        & > h2 {
            margin-bottom: 25px;
            color: $gray-700;
        }
    }
    img {
        max-height: 280px;
    }
    p {
        margin-bottom: 35px;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            padding-bottom: 10px;
            i {
                font-size: 20px;
                padding-right: 4px;
                color: $primary;
            }
        }
    }   
}
